In [1]:
getwd()

[1] "/home/greg/xtol/c4t1"

In [2]:
# imports
library(tidyquant)
library(timekit)
library(ggplot2)
library(reshape2) #melt

Loading required package: lubridate

Attaching package: ‘lubridate’

The following object is masked from ‘package:base’:

    date

Loading required package: PerformanceAnalytics
Loading required package: xts
Loading required package: zoo

Attaching package: ‘zoo’

The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Attaching package: ‘PerformanceAnalytics’

The following object is masked from ‘package:graphics’:

    legend

Loading required package: quantmod
Loading required package: TTR
Version 0.4-0 included new data defaults. See ?getSymbols.
Loading required package: tidyverse
Loading tidyverse: ggplot2
Loading tidyverse: tibble
Loading tidyverse: tidyr
Loading tidyverse: readr
Loading tidyverse: purrr
Loading tidyverse: dplyr
Conflicts with tidy packages ---------------------------------------------------
as.difftime(): lubridate, base
date():        lubridate, base
filter():      dplyr, stats
first():       dplyr, xts
intersect():   lubridate, base
lag():         dplyr, stats
last():        dplyr, xts
setdiff():     lubridate, base
union():       lubridate, base

Attaching package: ‘tidyquant’

The following object is masked from ‘package:tibble’:

    as_tibble


Attaching package: ‘reshape2’

The following object is masked from ‘package:tidyr’:

    smiths

In [4]:
data_normal <- read.table(
            './house.txt',
            sep=";",
            header=TRUE)

data_asis <- read.table(
            'house.txt',
            sep=";",
            header=TRUE,
            as.is=TRUE)

In [6]:
str(data_normal)

'data.frame':	99999 obs. of  9 variables:
 $ Date                 : Factor w/ 71 levels "1/1/2007","1/2/2007",..: 16 16 16 16 16 16 16 16 16 16 ...
 $ Time                 : Factor w/ 1440 levels "00:00:00","00:01:00",..: 1045 1046 1047 1048 1049 1050 1051 1052 1053 1054 ...
 $ Global_active_power  : Factor w/ 3425 levels "?","0.194","0.196",..: 2013 2571 2577 2584 1738 1665 1756 1755 1739 1736 ...
 $ Global_reactive_power: Factor w/ 380 levels "?","0.000","0.046",..: 189 198 229 231 244 241 240 240 235 235 ...
 $ Voltage              : Factor w/ 2201 levels "?","223.490",..: 638 517 483 528 722 656 663 676 553 540 ...
 $ Global_intensity     : Factor w/ 197 levels "?","0.800","1.000",..: 50 78 78 78 37 33 37 37 37 37 ...
 $ Sub_metering_1       : Factor w/ 62 levels "?","0.000","1.000",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ Sub_metering_2       : Factor w/ 79 levels "?","0.000","1.000",..: 3 3 14 3 3 14 3 3 3 14 ...
 $ Sub_metering_3       : num  17 16 17 17 17 17 17 17 17 16 ...

In [12]:
data_normal[1,4]
as.numeric(data_normal[1,4])

[1] 0.418
380 Levels: ? 0.000 0.046 0.048 0.050 0.052 0.054 0.056 0.058 0.060 ... 0.874

[1] 189

In [7]:
str(data_asis)

'data.frame':	99999 obs. of  9 variables:
 $ Date                 : chr  "16/12/2006" "16/12/2006" "16/12/2006" "16/12/2006" ...
 $ Time                 : chr  "17:24:00" "17:25:00" "17:26:00" "17:27:00" ...
 $ Global_active_power  : chr  "4.216" "5.360" "5.374" "5.388" ...
 $ Global_reactive_power: chr  "0.418" "0.436" "0.498" "0.502" ...
 $ Voltage              : chr  "234.840" "233.630" "233.290" "233.740" ...
 $ Global_intensity     : chr  "18.400" "23.000" "23.000" "23.000" ...
 $ Sub_metering_1       : chr  "0.000" "0.000" "0.000" "0.000" ...
 $ Sub_metering_2       : chr  "1.000" "1.000" "2.000" "1.000" ...
 $ Sub_metering_3       : num  17 16 17 17 17 17 17 17 17 16 ...

In [13]:
data_asis[1,4]
as.numeric(data_asis[1,4])

[1] "0.418"

[1] 0.418